* {
  box-sizing: inherit;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5vw;
}

body {
  background-color: black;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.gridWrap {
  height: min-content;
  display: grid;
  grid-template-areas:  "header"
                        "loginBox";
  background-color: black;
  color: white;
  padding: 0.25rem 0;
  justify-items: center;
  align-items: center;
  margin: auto;
}

.header {
  grid-area: header;
  margin-bottom: 0.5rem;
}

.headerSpotify {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 0.3rem;
  margin-bottom: -0.3rem;
  color: rgb(30, 215, 96);
}

.headerTitle {
  font-size: 2rem;
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 300;
  margin: 0;
}

.loginBox {
  grid-area: loginBox;
  background: #FFFFFF;
  border-radius: 0.05rem;
  box-shadow: 0.0rem 0.0rem 4px 0.06rem #716969;
  width: 50vw;
  margin: 0 auto;
}

.loginForm {
  display: flex;
  flex-direction: column; 
  padding: 0.25rem 0.25rem 0 0.25rem;
}

.loginHeader {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.4rem;
  color: #716969;
  margin: 0.25rem 0;
}

.loginInput {
  font-size: 0.5rem;
  background: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  border: none;
  padding-left: 0.25rem;
  width: 85%;
}

.loginButton {
  font-size: 0.5rem;
  background: gold;
  color: black;
  border: none;
  width: 75%;
  border-radius: 0.15rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-family: 'Roboto Slab', serif;
}

.loginLine {
  display: flex;
  align-items: center;
  border: 0rem solid black;
  box-shadow: 0.0rem 0.0rem 4px 0.001rem black;
  border-radius: 0.2rem;
}

.loginIconButton {
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-left: 0.125rem;
  border-radius: 100%;
}

.loginIcon {
  width: 0.75rem;
  height: 0.75rem;
  padding-left: 0.125rem;
}

.loginExtrasWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
}

.loginExtras {
  font-size: 0.25rem;
  color: #4357AD;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
  border: none;
  background-color: white;
}

.popup-container {
  position: fixed;
  display: none;
}

.createAccountPopup {
  position: fixed;
  display: none;
  background-color: #4357AD;
  border-radius: 10px;
  flex-direction: column;
  width: 60vw;
  max-height: 90vh;
  height: fit-content;
  overflow: auto;
}

.popupHeaderWrapper {
  display: flex;
  margin: 0 0.25rem;
  justify-content: space-between;
}

.popupHeader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 0.75rem;
  margin: 0.15rem 0;
}

.closePopupButton {
  background: none;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: white;
}

.popupInput {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.4rem;
  margin: 0;
  padding-left: 0.25rem;
}

.popupInputHeader {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.4rem;
  color: white;
  margin: 0.15rem 0;
}

.popupSubmit {
  font-size: 0.5rem;
  background: gold;
  border: none;
  width: 75%;
  border-radius: 0.15rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-family: 'Roboto Slab', serif;
}

.forgotPasswordPopup {
  position: fixed;
  display: none;
  background-color: #4357AD;
  border-radius: 10px;
  flex-direction: column;
  width: 60vw;
  max-height: 90vh;
  height: fit-content;
  overflow: auto;
}

.form_styles {
  display: flex;
  flex-direction: column;
  margin: 0 0.25rem 0.25rem 0.25rem;;
}